@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
html, body {
  width: 100%;
  height: 100vh ;
  background: #161616;
  overflow: hidden;
}

.header .header__list {
  display: flex;
  justify-content: space-around;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  color: #ccc;
  text-transform: uppercase;
  font-family: "Do Hyeon", sans-serif;
  font-size: 32px;
}
.button:hover {
  color: #fff;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.cursor .cursor__pointer, .cursor .cursor__follow {
  position: absolute;
  width: 10px;
  height: 10px;
}
.cursor .cursor__pointer {
  border-radius: 100%;
  background-color: #fff;
}
.cursor .cursor__follow {
  padding: 32px;
  border: 1px solid #fff;
  transition: all 0.2s ease-out;
  border-radius: 100%;
}

/**************************/
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

/********************************/
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #07000f;
    overflow: hidden;
}

.background span {
    width: 9vmin;
    height: 9vmin;
    border-radius: 9vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #148c12;
    top: 32%;
    left: 12%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 3vw -9vh;
    box-shadow: 18vmin 0 2.9316485467902593vmin currentColor;
}
.background span:nth-child(1) {
    color: #5c07ed;
    top: 20%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 17vh;
    box-shadow: 18vmin 0 2.486244258562156vmin currentColor;
}
.background span:nth-child(2) {
    color: #148c12;
    top: 82%;
    left: 70%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 10vw 7vh;
    box-shadow: -18vmin 0 2.8493872460122542vmin currentColor;
}
.background span:nth-child(3) {
    color: #e0f000;
    top: 81%;
    left: 31%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw 12vh;
    box-shadow: -18vmin 0 3.2244413445587816vmin currentColor;
}
.background span:nth-child(4) {
    color: #148c12;
    top: 8%;
    left: 31%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw -14vh;
    box-shadow: -18vmin 0 2.991078065007475vmin currentColor;
}
.background span:nth-child(5) {
    color: #e0f000;
    top: 52%;
    left: 61%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 22vh;
    box-shadow: -18vmin 0 3.1574435885551244vmin currentColor;
}
.background span:nth-child(6) {
    color: #e0f000;
    top: 55%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw 15vh;
    box-shadow: -18vmin 0 2.525231409314308vmin currentColor;
}
.background span:nth-child(7) {
    color: #148c12;
    top: 41%;
    left: 46%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw 3vh;
    box-shadow: -18vmin 0 2.880763749453321vmin currentColor;
}
.background span:nth-child(8) {
    color: #5c07ed;
    top: 95%;
    left: 70%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 19vw 6vh;
    box-shadow: -18vmin 0 2.4065722612382485vmin currentColor;
}
.background span:nth-child(9) {
    color: #e0f000;
    top: 38%;
    left: 80%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw 10vh;
    box-shadow: -18vmin 0 2.6172642505870396vmin currentColor;
}
.background span:nth-child(10) {
    color: #5c07ed;
    top: 99%;
    left: 47%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 4vw 13vh;
    box-shadow: 18vmin 0 2.614256196312034vmin currentColor;
}
.background span:nth-child(11) {
    color: #e0f000;
    top: 40%;
    left: 99%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 11vw 15vh;
    box-shadow: -18vmin 0 3.2394276283023884vmin currentColor;
}
.background span:nth-child(12) {
    color: #148c12;
    top: 60%;
    left: 46%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 17vw 15vh;
    box-shadow: 18vmin 0 2.915217963838095vmin currentColor;
}
.background span:nth-child(13) {
    color: #148c12;
    top: 40%;
    left: 51%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw -12vh;
    box-shadow: -18vmin 0 2.979999066363316vmin currentColor;
}
.background span:nth-child(14) {
    color: #e0f000;
    top: 29%;
    left: 72%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw -15vh;
    box-shadow: 18vmin 0 2.2858673193293937vmin currentColor;
}
.background span:nth-child(15) {
    color: #148c12;
    top: 63%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 2vw -16vh;
    box-shadow: -18vmin 0 2.4550185928562254vmin currentColor;
}
.background span:nth-child(16) {
    color: #5c07ed;
    top: 71%;
    left: 73%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw -23vh;
    box-shadow: 18vmin 0 2.870278634685423vmin currentColor;
}
.background span:nth-child(17) {
    color: #5c07ed;
    top: 21%;
    left: 69%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw 17vh;
    box-shadow: 18vmin 0 2.945286102262759vmin currentColor;
}
.background span:nth-child(18) {
    color: #e0f000;
    top: 3%;
    left: 89%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -21vw -16vh;
    box-shadow: -18vmin 0 2.5947826374465883vmin currentColor;
}
.background span:nth-child(19) {
    color: #148c12;
    top: 66%;
    left: 7%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw -13vh;
    box-shadow: 18vmin 0 2.77859295911204vmin currentColor;
}
.background span:nth-child(20) {
    color: #5c07ed;
    top: 54%;
    left: 42%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 21vw -14vh;
    box-shadow: 18vmin 0 3.072386503666669vmin currentColor;
}
.background span:nth-child(21) {
    color: #5c07ed;
    top: 52%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 22vw 9vh;
    box-shadow: -18vmin 0 2.3065216887934934vmin currentColor;
}
.background span:nth-child(22) {
    color: #5c07ed;
    top: 93%;
    left: 43%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw -24vh;
    box-shadow: 18vmin 0 3.132238287614763vmin currentColor;
}
.background span:nth-child(23) {
    color: #e0f000;
    top: 60%;
    left: 49%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 8vw 1vh;
    box-shadow: -18vmin 0 2.953670214214154vmin currentColor;
}
.background span:nth-child(24) {
    color: #5c07ed;
    top: 22%;
    left: 97%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 14vw 9vh;
    box-shadow: -18vmin 0 2.443115040462231vmin currentColor;
}
.background span:nth-child(25) {
    color: #5c07ed;
    top: 12%;
    left: 26%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -4vh;
    box-shadow: 18vmin 0 2.4682848952347083vmin currentColor;
}
.background span:nth-child(26) {
    color: #e0f000;
    top: 73%;
    left: 25%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -6vw -13vh;
    box-shadow: 18vmin 0 2.267624304512996vmin currentColor;
}
.background span:nth-child(27) {
    color: #e0f000;
    top: 10%;
    left: 92%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 13vw 16vh;
    box-shadow: 18vmin 0 2.4057407780467024vmin currentColor;
}
.background span:nth-child(28) {
    color: #148c12;
    top: 70%;
    left: 30%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -23vw -14vh;
    box-shadow: 18vmin 0 2.263033298123558vmin currentColor;
}
.background span:nth-child(29) {
    color: #e0f000;
    top: 53%;
    left: 79%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw 11vh;
    box-shadow: -18vmin 0 2.5653091548819242vmin currentColor;
}
.background span:nth-child(30) {
    color: #148c12;
    top: 92%;
    left: 40%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -11vw 7vh;
    box-shadow: -18vmin 0 2.8473928299664024vmin currentColor;
}
.background span:nth-child(31) {
    color: #e0f000;
    top: 8%;
    left: 71%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw -11vh;
    box-shadow: -18vmin 0 2.869870656577845vmin currentColor;
}
.background span:nth-child(32) {
    color: #148c12;
    top: 42%;
    left: 54%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 24vw 16vh;
    box-shadow: 18vmin 0 2.844333848989491vmin currentColor;
}
.background span:nth-child(33) {
    color: #e0f000;
    top: 100%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -24vw -10vh;
    box-shadow: 18vmin 0 2.302239213119128vmin currentColor;
}
.background span:nth-child(34) {
    color: #148c12;
    top: 40%;
    left: 7%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -9vw 18vh;
    box-shadow: 18vmin 0 2.694212782843539vmin currentColor;
}
.background span:nth-child(35) {
    color: #148c12;
    top: 99%;
    left: 75%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw 18vh;
    box-shadow: -18vmin 0 3.249833598259378vmin currentColor;
}
.background span:nth-child(36) {
    color: #148c12;
    top: 3%;
    left: 26%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 18vw 11vh;
    box-shadow: 18vmin 0 2.9042510727562494vmin currentColor;
}
.background span:nth-child(37) {
    color: #e0f000;
    top: 66%;
    left: 44%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 23vw -8vh;
    box-shadow: 18vmin 0 3.1047781078900716vmin currentColor;
}
.background span:nth-child(38) {
    color: #5c07ed;
    top: 12%;
    left: 51%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 7vw -5vh;
    box-shadow: 18vmin 0 2.406066882902919vmin currentColor;
}
.background span:nth-child(39) {
    color: #5c07ed;
    top: 89%;
    left: 77%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 15vw -18vh;
    box-shadow: 18vmin 0 3.0708649177182945vmin currentColor;
}
.background span:nth-child(40) {
    color: #5c07ed;
    top: 2%;
    left: 98%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -17vh;
    box-shadow: 18vmin 0 3.1312611976704665vmin currentColor;
}
.background span:nth-child(41) {
    color: #148c12;
    top: 27%;
    left: 55%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -14vw -13vh;
    box-shadow: -18vmin 0 2.636396577605402vmin currentColor;
}
.background span:nth-child(42) {
    color: #5c07ed;
    top: 85%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -19vw 10vh;
    box-shadow: -18vmin 0 2.318993047959529vmin currentColor;
}
.background span:nth-child(43) {
    color: #148c12;
    top: 37%;
    left: 86%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 25vw 19vh;
    box-shadow: 18vmin 0 3.068492405729857vmin currentColor;
}
.background span:nth-child(44) {
    color: #5c07ed;
    top: 78%;
    left: 45%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 1vw -18vh;
    box-shadow: 18vmin 0 2.914059166089477vmin currentColor;
}
.background span:nth-child(45) {
    color: #5c07ed;
    top: 97%;
    left: 62%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 16vw 9vh;
    box-shadow: 18vmin 0 2.3859645428635226vmin currentColor;
}
.background span:nth-child(46) {
    color: #e0f000;
    top: 67%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: 0vw -21vh;
    box-shadow: -18vmin 0 2.57494309376344vmin currentColor;
}
.background span:nth-child(47) {
    color: #148c12;
    top: 8%;
    left: 14%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 12vh;
    box-shadow: -18vmin 0 2.79259479583352vmin currentColor;
}
.background span:nth-child(48) {
    color: #5c07ed;
    top: 23%;
    left: 87%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -13vw 25vh;
    box-shadow: 18vmin 0 3.2398716506482734vmin currentColor;
}
.background span:nth-child(49) {
    color: #5c07ed;
    top: 60%;
    left: 27%;
    animation-duration: 6s;
    animation-delay: -1s;
    transform-origin: -16vw 11vh;
    box-shadow: 18vmin 0 3.1506157487170423vmin currentColor;
}
